* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0px solid red;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(13rem, 100%), 1fr));
  /*grid-template-rows: minmax(150px, 1fr) minmax(500px, 5fr);*/
  grid-template-rows: minmax(150px, .3fr) minmax(200px, 5fr) 2.3rem;
  height: 100%;
}

#header {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  grid-template-rows: 1fr 1.8fr;
  padding: 5px;
  align-items: center;
  margin-bottom: 3px;
  box-shadow: 3px 0px 5px #616161;
}

.header-upper-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.rightheader {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.3rem;
  margin: 5px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.profile-name {
  align-self: center;
}

.notification-link {
  display: grid;
  justify-content: center;
}

.notifications {
  display: grid;
  align-items: center;
}

.main-svg {
  fill: #000;
  height: 20px;
  width: 20px;
}

.search-icon {
  justify-self: right;
}

.searchbar {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  height: 28px;
  align-items: center;
  gap: 0.5rem;
}

.searchfield {
  background-color: #ddd;
  height: 100%;
  border-radius: 1rem;
  padding: 0 10px;
}

.button {
  padding: 5px;
  background-color: #144299;
  border-radius: 1rem;
  color: #eee;
  width: 90px;
  font-weight: 800;
}

.header-lower-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10rem;
  align-items: center;
  grid-column: 1 / -1;
}

.header-hero {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.profile {
  display: grid;
  justify-self: end;
  margin-right: 8px;
  height: auto;
  align-items: center;
}

.profile-pic-large {
  height: 60px;
  width: 60px;
  justify-self: center;
}

.profile-pic-small {
  height: 40px;
  width: 40px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-column: 2 / -1;
  justify-content: center;
}

#sidebar {
  display: grid;
  grid-template-rows: 1fr 2fr 8fr;
  grid-template-rows: repeat(auto-fill, minmax(180px, 2fr));
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100%;
  align-items: flex-start;
  background-color: #144299;
  color: #eee;
  padding-left: 1rem;
  margin: 0px;
}

.logo-group {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 60px;
  margin-top: 1rem;
  align-items: center;
  font-size: 2rem;
  gap: 8px;
}

.logo-icon {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.sidebar-link {
  display: grid;
  grid-template-columns: 1fr 20fr;
  gap: 12px;
  text-decoration: none;
  color: #eee;
  align-items: center;
}

.sidebar-svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}

#sidebar-top-group {
  margin-top: 50px;
  line-height: 2rem;
  font-size: 1.5rem;
}

#sidebar-bottom-group {
  margin-top: 50px;
  line-height: 2rem;
  font-size: 1.5rem;
}

#content-wrapper {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 2 / span 5;
  grid-auto-flow: column;
  grid-template-columns: 6fr 2fr;
  background-color: #ddd;
  padding-right: 2px;
}

.projects {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 1rem 1rem 2.5rem 1rem;
  align-content: space-around;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 4fr 1fr;
  border-width: 0 0 0 6px;
  border-color: #ea2;
  border-radius: 7px;
  background-color: #eee;
  padding: 6px;
  padding-top: 1rem;
  box-shadow: 10px 5px 15px #616161;
  margin: 1rem;
  font-size: 1.3rem;
}

.card-title {
  height: auto;
  margin-bottom: 10px;
  font-size: 2rem;
  align-self: center;
}

.card-text {
  height: auto;
  width: 95%;
  margin-bottom: 10px;
}

.icon-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.4rem;
  height: 2rem;
}

.card-action:first-child {
  grid-column: 7 / 8;
}

.icon {
  height: 28px;
  width: 28px;
}

.announcements {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.announcement-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  border-width: 0 0 0 6px;
  border-color: #e44;
  border-radius: 7px;
  background-color: #eee;
  padding: 6px 0px;
  margin-top: 2rem;
  max-width: 250px;
  box-shadow: 10px 5px 15px #616161;
}

.announcement {
  height: 5rem;
  border-width: 3px 3px 3px 0px;
  border-color: #ff5f5f;
  border-radius: 6px;
  padding: 6px;
  margin: 2px;
}

.announcement-link {
  text-decoration: none;
  color: #111;
}

.trending {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  border-width: 0 0 0 6px;
  border-color: #44e;
  border-radius: 7px;
  background-color: #eee;
  padding: 6px 0px;
  margin: 2rem 0 3.3rem 0;
  max-width: 270px;
  box-shadow: 10px 5px 15px #616161;
}

.trend-title {
  line-height: 1rem;
  padding: 4px 10px;
}

.trend-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trend {
  height: 60px;
  height: 5rem;
  border-width: 3px 0px 3px 0px;
  border-color: #1f1f6f;
  border-radius: 6px;
  padding: 6px;
  margin: 2px;
}

footer {
  grid-row: 3 / -1;
  grid-column: 2 / -1;
  height: 100%;
  text-align: center;
  color: #ddd;
  background-color: #616161;
}